header {
    color: $white1;
    position: relative;
    min-height: 100vh;

    .header_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        transform: translateY(40px);
        color: white;
        opacity: 0;
        animation: headerAnim 1.5s forwards;

        @keyframes headerAnim {
            to {
                transform: translateY(0);
                opacity: 1;
            }
        }

        h1 {
            @include title;
            font-size: 4rem;
            letter-spacing: 6px;

            @media screen and (max-width: 700px){
                font-size: 2rem;
            }
        }

        p {
            margin: 40px auto 60px;
            font-style: italic;
            width: 85%;
        }

        span {
            border: 2px solid $white1;
            border-radius: 50%;
            height: 60px;
            width: 60px;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    nav {
        color: $white1;
        max-width: 1300px;
        background: rgba(255, 255, 255, 0.253);
        width: 85%;
        height: 65px;
        display: flex;
        justify-content: space-between;
        z-index: 100;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        ul {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .nav_left {
            &:hover li:not(:hover) {
                background: none;
                color: $white1
            }

            li {
                @include title;
                display: flex;
                align-items: center;
                font-size: .8rem;
                padding: 0 15px;
                height: 100%;
                cursor: pointer;

                @media screen and (max-width: 700px){
                    font-size: .5rem;
                }

                &:first-child {
                    background: $white1;
                    color: $black1;
                }

                &:hover {
                    background: $white1;
                    color: $black1;
                }
            }
        }
        .nav_right{
            font-size: 1.1rem;
            min-width: 100px;
            width: 25%;
            max-width: 300px;
            justify-content: space-around;
            margin-right: 10px;

            @media screen and (max-width: 700px){
                display: none;
            }

            li {
                transition: .15s;
                cursor: pointer;

                &:hover{
                    transform: scale(1.3);
                }
            }
        }
    }
}