.main-content {
    height: 100%;
    background: $color1;

    
    .section_header{
        position: relative;
        span {
            font-size: 1Rem;
            display: inline-block;
            margin: 50px 0;


            &::before {
                content:"";
                height: 1px;
                width: 30%;
                position: absolute;
                background: rgba(0, 0, 0, 0.089);
                right: 120px;
                top: 55px;
            }
            &::after {
                content:"";
                height: 1px;
                width: 30%;
                position: absolute;
                background: rgba(0, 0, 0, 0.089);
                left: 120px;
                top: 55px;
            }
        }

        h2{
            margin: 30px 0;
            font-size: 4rem;
            text-transform: uppercase;
        }

        p{
            width: 50%;
            margin: 0 auto;
            font-style: italic;
            line-height: 35px;
        }

        img{
            width: 80%;
            display: block;
            margin: 20px auto;
        }
        
        .btn{
            margin: 30px 0 80px 0;
        }
    }
    .section_main {
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left_part,
        .right_part {
            margin-top: 50px;
            padding: 30px;
            border: 1px solid rgba(0, 0, 0, 0.089);

            span {
                display: inline-block;
                margin: 20px 0 20px 0;
            }

            h3 {
                letter-spacing: 1px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            p{
                width: 80%;
                margin: 30px auto;
                text-align: justify;
            }
            img {
                width: 80%;
            }

            .btn{
                margin-bottom: 30px;
            }
        }
    }
}