main {
    width: 85%;
    margin: 0 auto 30px;
    background: $white1;

    img {
        width: 100%;

    }

    .section_header {
        width: 80%;
        margin: 0 auto;

        span {
            font-size: 1rem;
            display: block;
            padding: 70px 0;
            position: relative;

            &::before,
            &::after {
                content: "";
                height: 1px;
                width: 37%;
                position: absolute;
                background: $grey1;
                height: 1px;
                top: 50%;
                transform: translateY(-50%);

                @media screen and (max-width: 700px) {
                    width: 30%;
                }

                @media screen and (max-width: 500px) {
                    width: 24%;
                }
            }

            &::before {
                right: 0;
            }

            &::after {
                left: 0;
            }
        }

        h2 {
            @include title;
            font-size: 3rem;

            @media screen and (max-width: 700px){
                font-size: 1.5rem;
            }
        }

        p {
            width: 60%;
            margin: 30px auto;
            font-style: italic;
            line-height: 35px;
            font-size: 0.8rem;
        }

        .btn {
            margin: 50px 0 90px 0;
        }
    }

    .section_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-top: 1px solid $grey1;

        @media screen and (max-width: 700px){
            grid-template-columns: 1fr;
        }


        .left_part,
        .right_part {
            padding: 60px;

            span {
                font-size: .75rem;
            }

            h3 {
                @include title;
                margin: 20px 0;
                line-height: 28px;
            }

            p {
                margin: 30px auto;
                text-align: justify;
                line-height: 30px;
                font-size: 0.8rem;
            }
        }

        .left_part {
            border-right: 1px solid $grey1;
        }
    }
}